# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#QT tmp files
*.a
*.aux
*.BAK
*.bak
*.depend*
*.dll
*.dvi
*.eps
*.fmt
*.gch
*.GIF
*.gif
*.GZ
*.gz
*.JPEG
*.jpeg
*.JPG
*.jpg
*.ld
*.log
*.o
*.obsolete
*.PDF
*.pdf
*.PNG
*.png
*.pro.user
*.ps
*.pyc
*.so
*.tgz
*.taz
*.toc
*.ZIP
*.zip
*autosave*
*~
.*history*
.bzr*
.nfs*
.\#*
\#*\#
__pycache__/
a.exe
a.out
build-*/
core*
RCS
SCCS
